spring:
  main:
    web-application-type: reactive

management:
  endpoints:
    web:
      exposure:
        include: gateway,routes,health
  endpoint:
    gateway:
      enabled: true

server:
  port: 8080